/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 15, 2015, 8:38:18 AM
    Author     : dhimas
*/

#page{
	width: 100%;
	margin: 0 auto;
}

#namapage{
    width: 100%;
    background-color: cadetblue;
    height: 5px;
}
#header{
	width: 100%;
	height:100px;
	/*border: 1px solid #000;*/
	margin-bottom:16px;
}

#content{
	width: 100%;
	height:600px;
	margin-right:16px;
	margin-bottom:16px;
	border: 1px solid #000;
}

#footer{
	width: 100%;
	height:100px;
	border: 1px solid #000;
}