<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
 
<h:body>
    <p>Welcome gue adalah ${request.getUserPrincipal()}, to user pages</p>
	<h:link id="public" outcome="/public/index">Back to public part</h:link>
	<h:form>
             tombol --> <p:button value="ok" rendered="#{request.isUserInRole('USER')}" /> <br/>
		<h:commandButton action="#{authBackingBean.logout}" value="Logout" />
	</h:form>
</h:body>
</html>

