<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<h:body>	
    <ui:composition template="/template/commonLayout.xhtml">
        <ui:define name="namapage">
            
        </ui:define>
        
        <ui:define name="content">
	<p>
		<h:link id="users" outcome="/users/users">User pages</h:link>
	</p>
	<p>
            <h:link id="admins" outcome="/admins/admins">Administration pages</h:link>
	</p>
            
            <p:panel header="Sistem Menu Aplikasi">
                
            </p:panel>
        </ui:define>
    </ui:composition>
</h:body>
</html>

