<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<h:body>
	<p>Login to access secure pages:</p>
        <ui:composition template="/template/commonLayout.xhtml">
            <ui:define name="content">
	<h:form>
            <p:growl id="msg" showDetail="true" >
                <p:panel header="Login Form" style="width: 50%">
		<h:panelGrid columns="2">
			<h:outputLabel for="j_username" value="Username" />
                        <p:inputText value="${loginBean.username}" required="true" requiredMessage="username harus di isi"/>

			<h:outputLabel for="j_password" value="Password" />
                        <p:password value="${loginBean.password}" required="true" requiredMessage="password harus di isi" />
                        
                        <h:outputLabel value="Captcha" />
                        <p:captcha language="id" required="true" requiredMessage="captcha harus di isi"/>

			<h:panelGrid columns="2">
                            <p:commandButton action="${loginBean.submitLogin}" value="Login" ajax="false"/>
				<h:button outcome="index" value="Cancel" />
			</h:panelGrid>
		</h:panelGrid>
                </p:panel>
            </p:growl>
        </h:form>
            </ui:define>
        </ui:composition>
</h:body>
</html>
